html,
body {
  margin: 0;
  padding: 0;
}

body {
  background:url('/assets/images/99.jpg');
  padding: 15px;
}
.layui-form{
  width: 500px;
}
.layui-card{
  color:#fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.layui-card-header{
  color:#fff;
}